@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:root,
body {
  font-family: "Poppins", sans-serif;
}

:root {
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
