@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:root,
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --clr-red: #da0400;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-red);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

::selection,
::-moz-selection,
::-webkit-selection,
::-ms-selection {
  background: var(--clr-red);
  color: white;
}

/* NAVBAR */
.nav_items {
  @apply cursor-pointer select-none opacity-80 duration-200 ease-in-out;
}
.nav_items:hover {
  @apply opacity-100;
}
.close1 {
  transform: translateY(7.5px) rotate(45deg);
}
.close2 {
  transform: translateY(-7.5px) rotate(315deg);
}
.open {
  transform: rotate(0deg);
}
@media (max-width: 1024px) {
  .nav-open {
    transform: translateY(-100vh);
  }
  .nav-close {
    transform: translateY(0%);
  }
}

/* HERO */
.theme_text {
  position: relative;
}
.theme_text::before {
  content: "our theme";
  text-transform: lowercase;
  position: absolute;
  transform: rotate(-90deg);
  @apply bottom-[40px] left-[-25px] text-[20px] font-light md:bottom-[80px] md:left-[-90px] md:font-extralight lg:text-[40px];
}
.text-shape {
  position: relative;
}
.text-shape::after {
  background-color: var(--clr-red);
  content: "";
  position: absolute;
  transform: translateX(50%);
  width: 50%;
  height: 85%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 2px;
}
@media (max-width: 1024px) {
  .text-shape::after {
    width: 100%;
    transform: translateX(0%);
  }
}
