@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:root,
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

:root {
  --clr-red: #da0400;
  --clr-redText: #fa0400;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-red);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

::selection,
::-moz-selection,
::-webkit-selection,
::-ms-selection {
  background-color: var(--clr-red);
  color: white;
}

/* NAVBAR */
.nav_items {
  @apply cursor-pointer select-none duration-200 ease-in-out;
}
.close1 {
  transform: translateY(7.5px) rotate(45deg);
}
.close2 {
  transform: translateY(-7.5px) rotate(315deg);
}
.open {
  transform: rotate(0deg);
}
@media (max-width: 1024px) {
  .nav-open {
    transform: translateY(-100vh);
  }
  .nav-close {
    transform: translateY(0%);
  }
}

/* HERO */
.theme_text {
  position: relative;
}
.theme_text::before {
  content: "our theme";
  text-transform: lowercase;
  position: absolute;
  transform: rotate(-90deg);
  @apply bottom-[40px] left-[-25px] text-[20px] font-light md:bottom-[80px] md:left-[-85px] md:font-extralight lg:bottom-[60px] lg:left-[-60px] lg:text-[30px];
}
.text-shape {
  position: relative;
}
.text-shape::after {
  @apply absolute left-0 top-0 z-[-1] h-[85%] w-1/2 translate-x-1/2 transform rounded-[2px] bg-red;
  content: "";
}
@media (max-width: 1024px) {
  .text-shape::after {
    width: 100%;
    transform: translateX(0%);
  }
}

.shade::before {
  content: "";
  position: absolute;
  width: inherit;
  height: 100vh;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}
@media screen and (max-width: 1024px) {
  .shade::before {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  }
}
.footer_text {
  @apply text-[14px] leading-tight md:text-[16px];
}

.para {
  text-wrap: balance;
  max-inline-size: 70ch;
  white-space: unset;
}
.highlight::before {
  content: "";
  position: absolute;
  width: inherit;
  height: 85%;
  border-radius: 2px;
  z-index: -1;
  background: var(--clr-red);
}

/* SPONSOR POPUP MODULE */
.sponsor_popup {
  @apply fixed left-1/2 top-1/2 z-50 h-auto
    w-[350px] -translate-x-1/2 rounded-xl border-2 border-white/30 px-[1.5rem] py-[1rem] backdrop-blur-xl
    transition-all duration-300 ease-out lg:w-[700px];
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(236, 0, 0, 0.05));
}
.popupOpen {
  @apply -translate-y-1/2 scale-100;
}
.popupClose {
  @apply w-[120px] translate-y-[150%] scale-0 duration-500;
}

.talk_image {
  position: absolute;
  top: 0;
  z-index: -10;
  border: 2px solid var(--clr-red);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  scale: 1;
  transform: translate(-10px, 10px);
  transition: all 0.3s ease-in-out;
}
.talk_image_container:hover {
  cursor: pointer;
}
.talk_image_container:hover .talk_image {
  cursor: pointer;
  border: 2px solid var(--clr-redText);
  box-shadow: 0 0 30px var(--clr-redText);
}
.talk_image_container::before {
  content: "";
  position: absolute;
  z-index: 10;
  height: 80px;
  width: 80px;
  background: var(--clr-red);
  background: url("/talks-thumbnails/play.webp");
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.talk_image_container:hover .talk_image {
  transform: translate(0px, 0px);
  scale: 1.01;
  box-shadow: 0 0 30px var(--clr-redText);
}
@media screen and (max-width: 768px) {
  .talk_image {
    transform: translate(0px, 0px);
    scale: 1.05;
    box-shadow: 0 0 15px var(--clr-redText);
  }
  .talk_image_container::before {
    height: 50px;
    width: 50px;
    background-size: contain;
  }
}
