.font-poppins {
  font-family: "Poppins", sans-serif;
}

.scroll-snap-x {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  scroll-padding-left: 20px;
}

.scroll-snap-y {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
}

.scroll-snap-start > * {
  scroll-snap-align: start;
}

.scroll-snap-center > * {
  scroll-snap-align: center;
}
.hide-scrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0) 13%);
}
.last-scroll-padd > *:last-child {
  margin-right: 100%;
}

.sub-card-cont {
  transition:
    transform 0.1s,
    box-shadow 0.1s,
    filter 0.5s;
}

.sub-card-cont .card-bg-container {
  transition: filter 0.5s;
}

.cards-container.active .sub-card-cont .card-bg-container {
  filter: blur(8px);
}

/**Style for animating the detail container name*/
.details-container h2 span {
  transition:
    transform 0.2s,
    opacity 0.2s;
}

.details-container > .active h2 span {
  opacity: 1;
  transform: translateX(0px);
}

.details-container > :not(.active) h2 span {
  opacity: 0;
  transform: translateX(-100px);
}

/**Details container paragraph styles*/
.details-container p {
  position: relative;
  padding: 1rem;
  transition:
    transform 0.2s,
    opacity 0.2s;
  transition-delay: 0.6s;
  @apply max-sm:py-2;
  @apply max-sm:px-3;
}

.details-container > .active p {
  opacity: 1;
  transform: translateX(0px);
}

.details-container > :not(.active) p {
  opacity: 0;
  transform: translateX(-100px);
}

.details-container p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 0;
  opacity: 0.7;
  background-color: white;
  transition: height 0.2s 0.9s;
}

.details-container > .active p:before {
  height: 100%;
}

.details-container > :not(.active) p:before {
  height: 0;
}
